# When using a subfolder, prepend it manually to the ErrorDocuments (lines 7-11), RewriteBase (line 14) and the 301 redirect (line 19).

php_flag magic_quotes_gpc off

Options -Indexes

ErrorDocument 400 /index.php?errorPage=400
ErrorDocument 401 /index.php?errorPage=401
ErrorDocument 403 /index.php?errorPage=403
ErrorDocument 404 /index.php?errorPage=404
ErrorDocument 500 /index.php?errorPage=500

RewriteEngine on
RewriteBase /

# Force trailing slash (permanent redirect).
RewriteCond $1 !^(index\.php|static|robots\.txt)
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [L,R=301]

# Route everything except items listed below through index.php.
RewriteCond $1 !^(index\.php|static|robots\.txt)
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^(.*)$ index.php?%1&_url=$1 [L]