# When using a subfolder, prepend it manually to "/index.php" (lines 3-7), "/" (line 19) and "/$1" (line 28)

ErrorDocument 400 /index.php?_errorPage=400
ErrorDocument 401 /index.php?_errorPage=401
ErrorDocument 403 /index.php?_errorPage=403
ErrorDocument 404 /index.php?_errorPage=404
ErrorDocument 500 /index.php?_errorPage=500

# Disable magic quotes (safety)
php_flag magic_quotes_gpc Off

# Disable directory listing (safety)
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /

	# Force the use of example.com over www.example.com (permanent redirect) (SEO)
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

	# Remove trailing slash (permanent redirect) (SEO)
	RewriteCond $1 !^(static)
	RewriteRule ^(.*)/$ /$1 [R=301,L]

	# Route everything except items listed below through index.php
	RewriteCond $1 !^(index\.php|static|robots\.txt|favicon\.ico|apple-touch-icon\.png)
	RewriteRule ^(.*)$ index.php [L]
</IfModule>